.vscode/
*.bin
build-*
build
dist
.snapshots
.vscode
node_modules
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
coverage
*.log
*.log.*
*.log-*
*.log/*
*build
!meson.build

obj/
bin/

nuros-appconcept/

apg/
*.apg