[Desktop Entry]
Name=Astrum
GenericName=File Manager
Comment=Minimalist dark theme file manager
Exec=astrum
Icon=astrum
Terminal=false
Type=Application
Categories=Utility;FileManager;
Keywords=File;Manager;Explorer;Browser;
StartupNotify=true